---
import video from '@/assets/videos/tormenta.mp4'
---

<section>
	<div class="container">
		<div data-parallax-y={6} class="relative -mt-48 bg-black px-12 py-12 lg:py-36">
			<video class="absolute top-0 left-0 size-full object-cover" src={video} autoplay loop muted playsinline></video>

			<div class="relative mx-auto grid max-w-3xl gap-6 text-center text-lg font-semibold text-white md:text-2xl">
				<p>Secar la ropa puede ser casi tan imprevisible como el propio cielo. Mientras en unas regiones la humedad retrasa la colada durante días, en otras basta un soplo de viento para dejarla lista.</p>
				<p>Analizamos cómo cada rincón de España marca su propio ritmo de secado y descubrimos de qué manera la tecnología ayuda a esquivar las inclemencias para ganar tiempo y energía.</p>
			</div>
		</div>

		<div data-txt-fade-up class="py-24 lg:py-32">
			<h2 class="mx-auto max-w-2xl text-center text-4xl font-bold text-[#00619D] md:text-6xl">Porque al mal tiempo, siempre es bueno tener a mano una buena secadora.</h2>
		</div>
	</div>
</section>
